In [4]:
import pandas as pd
from sklearn.naive_bayes import GaussianNB
import numpy as np
sample=pd.read_csv("music_samplesubmission.csv")
sample

         id  genre
0     17743      5
1     17744      6
2     17745      2
3     17746      5
4     17747      1
...     ...    ...
5909  23652      6
5910  23653      2
5911  23654      2
5912  23655      2
5913  23656      3

[5914 rows x 2 columns]

In [2]:
train=pd.read_csv("music_train.csv")
train=train.fillna(train.mean())
train["topic"]=train["topic"].astype(int)
X_train=train[['release_date', 'dating', 'violence', 'world/life', 'night/time',
       'shake the audience', 'family/gospel', 'romantic', 'communication',
       'obscene', 'music', 'movement/places', 'light/visual perceptions',
       'family/spiritual', 'like/girls', 'sadness', 'feelings', 'danceability',
       'loudness', 'acousticness', 'instrumentalness', 'valence', 'energy',
       'age',"topic"]]
Y_train=train["genre"]

In [6]:
Naive_model = GaussianNB()
Naive_model.fit(X_train, Y_train)

GaussianNB()

In [7]:
test=pd.read_csv("music_test.csv")
test=test.fillna(test.mean())
X_test=test[['release_date', 'dating', 'violence', 'world/life', 'night/time',
       'shake the audience', 'family/gospel', 'romantic', 'communication',
       'obscene', 'music', 'movement/places', 'light/visual perceptions',
       'family/spiritual', 'like/girls', 'sadness', 'feelings', 'danceability',
       'loudness', 'acousticness', 'instrumentalness', 'valence', 'energy',
       'age',"topic"]]

In [9]:
y_predict = Naive_model.predict(X_test)
result=pd.DataFrame({"id":test["id"],
              "genre":y_predict})
result.set_index("id",inplace=True)
result.to_csv("NB.csv")

array([1, 4, 3, 6, 2, 0, 5], dtype=int64)